<div class="container">
  <h2>ESPACIO DE CREACIÓN DE CONTENIDOS DIGITALES</h2>
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-stripped table-success row-border hoverclass">
    <thead>
        <tr>
          <td>Fase</td>
          <td>Municipio</td>
          <td>Dirección</td>
          <td>Tipología</td>
          <td>Ejecutor</td>
          <td>Latitud</td>
          <td>Longitud</td>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let art of articulos">
        <td>{{art.fase}}</td>
        <td>{{art.municipio}}</td>
        <td>{{art.direccion}}</td>
        <td>{{art.tipologia}}</td>
        <td>{{art.ejecutor}}</td>
        <td>{{art.latitud}}</td>
        <td>{{art.longitud}}</td>
      </tr>
    </tbody>
  </table>

</div>
